<a data-toggle="modal" {{bind-attr href=modalAnchor}} class="btn btn-sm" {{bind-attr class="isHighlighted:btn-primary:btn-default"}}>
  <span class="glyphicon glyphicon-time"></span>
  <em>{{time time}}</em>
</a>

<div class="modal fade" {{bind-attr id=modalId}} tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          <strong>{{train}}</strong>
          {{time time}}, {{platform}}
        </h4>
      </div>
      <div class="modal-body">
        <p>
          {{route}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
