<div id="sessions">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSessions">
          Schedule
        </a>
      </h4>
    </div>
    <div id="collapseSessions" class="panel-collapse collapse in">
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Time</th>
              <th>Talk</th>
              <th>Speaker</th>
            </tr>
          </thead>
          <tbody>
            {{#each}}
              {{checkForCurrentSession App.currentTime}}
              <tr {{bind-attr class="currentSession:success"}}>
                <td>{{time time}}</td>
                <td>{{info}}</td>
                <td>{{speaker}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>