{{#if current}}
<div id="current">
  <h2>Current:</h2>
  <h3>
    {{current.time}}: {{current.speaker}}
  </h3>
</div>
{{/if}}

{{#if nextUp}}
<div id="next-up">
  <h2>Coming up next:</h2>
  <h3>
    {{nextUp.time}}: {{nextUp.speaker}}
  </h3>
</div>
{{/if}}

{{outlet}}

<div id="sessions">
  <h2>All Sessions:</h2>
  <ul>
    {{#each session in model}}
      {{partial "sessionListItem"}}
    {{/each}}
  </ul>
</div>
