<!DOCTYPE html>
<html>
  <head>
    <title>live.socoded.com</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= tag :link, rel: 'shortcut icon', href: image_path('favicon.ico') %>
    <%= tag :link, rel: 'apple-touch-icon-precomposed', href: image_path('favicon.ico') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
